
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My App</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="index.js" defer></script>
</head>
<body>
  <div id="vue-app">

    <router-view></router-view>

  </div>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</body>
</html>

<!-- Begin Homepage Template -->

<template id="home-page">
  <div class="vue-component">
    <div class="container">
        <div class="form-group">
          <label>Search:</label> 
            <input type="text" class="form-control" v-model="searchTerm">
          </div>
          <button class="btn btn-primary" v-on:click="submit()">Submit</button>
        </div>
       <!--  <div v-for="trip in trips"> -->
         <!--  <ul>
            <li> -->
             <!--   {{ trip }}

          </ul>
        </div> --> 
      </div>
  </div>
</template>


<!-- End Homepage Template -->